:root {
  --scale: 1;
}

*{
  margin:0;
  padding:0;
}
.editor-container .wrapper {
  display: flex;
}

.editor-container .wrapper .panel-left {
  width: calc(100% - 20rem);
  background: red;
  display: flex;
  justify-content: center;
}

.editor-container .wrapper .panel-right {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.editor-container .wrapper .panel-right .btn-add {
  background: transparent;
  border: 1px solid #000000;
  padding: 1rem 1.5rem;
  border-redius: 1000rem;
}
.editor-container .wrapper .panel-right .btn-export {
  background: transparent;
  background-color:"red";
  border: 1px solid #004820;
  padding: 1rem 1.5rem;
  border-redius: 1000rem;
}
.builder-container {
  /* width: calc(32rem * var(--scale)); */
  height: calc(100vh * var(--scale));
  display: flex;
  align-item: center;
  justifyi-content: center;
}
.editable-textbox {
  width: calc(12rem * var(--scale));
  height: calc(2.5rem * var(--scale));
  display: flex;
  align-item: center;
  padding: 0 0.75rem 0 0.75rem;
  position: absolute;
}
.editable-textbox .edit-button-group {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  display: flex;
  right: 0;
  justify-content: end;
}
.editable-title {
  /* display: flex; */
  width: 100%;
}
.editable-title .title {
  font-size: calc(0.9375rem * var(--scale));
}
.btn-edit {
  margin-left: 0.25rem;
}
.btn-edit button {
  width: calc(2rem * var(--scale));
  height: calc(2rem * var(--scale));
  display: flex;
  align-item: center;
  justify-content: center;
}
.scale-icon {
  width: calc(1.35rem * var(--scale));
  height: calc(1.35rem * var(--scale));
}
@media screen and (max-width: 620.98px) {
  :root {
    --scale: 0.5;
  }
}
@media screen and (max-width: 320.98px) {
  :root {
    --scale: 0.3;
  }
}
/* @media screen and (max-height: 700px) {
  :root {
    --scale: 0.5;
  }
}
@media screen and (max-height: 500px) {
  :root {
    --scale: 0.3;
  }
} */
